<html>
  <head>
    <link rel="icon" href="/img/weather.png"/>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{title}}</title>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Marcin Piwonski. It uses data from mapbox.com and weatherstack.com</p>
      <img class="portrait" src="img/Zdjecie_skan.jpg" />
    </div>
    
    {{>footer}}
  </body>
</html>